.main {
  display: flex;
  flex-direction: column;
  padding: var(--padding-xxlarge);
  width: 100%;
}

.title {
  font-size: var(--font-size-xxlarge);
  font-weight: 700;
  line-height: var(--line-height-xlarge);
  margin-bottom: var(--padding-xlarge);
}

.containerGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-xxlarge);
  align-items: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xxlarge);
}

@media (min-width: 768px) {
  .containerGrid {
    grid-template-columns: 1fr 1fr;
  }

  .containerGrid > div:nth-child(1) {
    grid-column: 1;
  }

  .column {
    grid-column: 2;
    grid-row: 1;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding: var(--padding-xlarge);
}

.totalContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: var(--padding-xlarge);
  color: var(--foreground);
}

.totalLabel {
  font-size: var(--font-size-xlarge);
  font-weight: 700;
  line-height: var(--line-height-xlarge);
}

.totalValue {
  font-size: var(--font-size-xlarge);
  font-weight: 700;
  line-height: var(--line-height-xlarge);
  margin-left: var(--padding-medium);
}
