.form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-large);
  width: 100%;
  padding: var(--padding-medium) var(--padding-xlarge);
}

.row {
  display: flex;
  gap: var(--gap-medium);
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}
