:root {
  --background: #ffffff;
  --foreground: #171717;

  --border-color: #f0f0f0;

  --font-size-xsmall: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.125rem;
  --font-size-xlarge: 1.25rem;
  --font-size-xxlarge: 1.5rem;
  --font-size-xxlarge: 2rem;

  --line-height-xsmall: 1rem;
  --line-height-small: 1.25rem;
  --line-height-medium: 1.5rem;
  --line-height-large: 1.75rem;
  --line-height-xlarge: 2rem;

  --padding-xsmall: 0.25rem;
  --padding-small: 0.5rem;
  --padding-medium: 0.75rem;
  --padding-large: 1rem;
  --padding-xlarge: 1.5rem;
  --padding-xxlarge: 2rem;

  --border-radius-small: 0.125rem;
  --border-radius-medium: 0.25rem;
  --border-radius-large: 0.5rem;
  --border-radius-xlarge: 1rem;
  --border-radius-xxlarge: 2rem;

  --gap-small: 0.5rem;
  --gap-medium: 0.75rem;
  --gap-large: 1rem;
  --gap-xlarge: 1.5rem;
  --gap-xxlarge: 2rem;

  --table-header-color: #242424;

  --color-hover: #626252;
  --color-hover-table-header: #262626;

  --error: #ff0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --border-color: #262626;

    --table-header-color: #a1a1a1;

    --error: #ff0000;
    --color-status-pending: #a0a0a0;
    --color-status-processing: #2196f3;
    --color-status-paid: #4caf50;
    --color-status-failed: #f44336;
    --color-status-refunded: #9c27b0;
    --color-status-cancelled: #757575;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
